# Virtual environment
env/

# YOLO training outputs
runs/

# Dataset
dataset/

# Model files
*.pt

# macOS
.DS_Store

# Label Studio exports
*.json

# Virtual environment dosyaları
env/

# Eski/archive dosyalar
archive/
